<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class= "col-sm-offset-2 col-sm-4">

        <div class="marge"></div>

        <% if @monster.photo? %>
          <%= cl_image_tag @monster.photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>

        <h1>Name : <%= @monster.name%></h1>
        <p>Title : <%= @monster.title%></p>
        <p>Species : <%= @monster.species%></p>
        <p>Gender : <%= @monster.gender%></p>
        <p>Birthdate : <%= @monster.birthdate%></p>
        <p>Size : <%= @monster.size%></p>
        <p>Weight : <%= @monster.weight%></p>

      </div>

      <div class="col-sm-4">
      <div class="marge"></div>
        <p>Behavior : <%= @monster.behavior%></p>
        <p>Description<%= @monster.description%></p>
        <p>Food : <%= @monster.food%></p>
        <p>Exercise : <%= @monster.exercise%></p>
        <p>Available ?<%= @monster.availability%></p>
        <p>Price / day : <%= @monster.price%></p>
        <p>Owned by : <%= @monster.user.first_name%> <%= @monster.user.last_name%></p>
      </div>
    </div>

    <div class= "links text-center">
        <% if @monster.user == current_user %>
        <%= link_to "Edit my monster", edit_monster_path(@monster) %>
        <% else %>
        <%= link_to "Book this monster", new_monster_booking_path(@monster) %>
        <% end %>
        <br>
        <%= link_to "Back to monsters", monsters_path %>
      </div>

      </div>
    </div>
  </div>
</div>
