<div class="wrapper">
  <div class="container">
    <div class="show">
      <div class="row">
        <div class= "col-sm-offset-2 col-sm-4">
          <div class="marge"></div>
          <% if @monster.photo? %>
            <%= cl_image_tag @monster.photo.path, width: 350, height: 400, crop: :fill %>
          <% end %>
        </div>
<!--     <div class="show"> -->
        <div class="col-sm-4">

            <h1>Name : <%= @monster.name%></h1>
            <p><strong>Title : </strong><%= @monster.title%></p>
            <p><strong>Species : </strong><%= @monster.species%></p>
            <p><strong>Behavior : </strong><%= @monster.behavior%></p>
            <p><strong>Availability : </strong><%= @monster.availability%></p>
            <p><strong>Price / day : </strong> <%= @monster.price%></p>
            <p><strong>Owned by : <%= link_to "#{@monster.user.first_name} #{@monster.user.last_name}", user_path(@monster.user) %></strong></p>
          </div>
        </div>

<!--       </div> -->

      <div class="marge"></div>
        <div class= "show-btn1 text-center">
          <% if @monster.user == current_user %>
          <%= link_to "EDIT MY MONSTER", edit_monster_path(@monster) %>
          <% else %>
          <%= link_to "BOOK THIS MONSTER", new_monster_booking_path(@monster) %>
          <% end %>
        </div>

        <div class= "show-btn2 text-center">
          <%= link_to "BACK TO MONSTERS", monsters_path %>
        </div>

    </div>



  </div>
</div>
