<p><%= @monster.name %></p>
<p><%= @monster.species %></p>

<%= simple_form_for([@monster, @booking]) do |b| %>
  <%= b.input :start_date %>
  <%= b.input :end_date %>
  <%= b.button :submit %>
<% end %>

<p><%= @booking.price %></p>

<%= link_to "Cancel", monster_path(@monster) %>
