<div class="wrapper">
  <div class="container">

    <div class="book">
      <div class="row">

        <div class= "col-sm-offset-2 col-sm-4">
          <% if @monster.photo? %>
            <%= cl_image_tag @monster.photo.path, width: 350, height: 500, crop: :fill %>
          <% end %>
        </div>

        <div class= "col-sm-4">
          <h1><%= @monster.name %></h1>
          <p><%= @monster.species %></p>
          <%= simple_form_for([@monster, @booking]) do |form| %>
            <%= form.input :start_date, id: "start_date" %>
            <%= form.input :end_date, id: "end_date" %>
            <%= form.button :submit, class: "book-btn1" %>
            <br>
            <p> This monster costs <%= @monster.price.round %> $ / day</p>
            <h4 id="price">Total rent = <%= @monster.price.round %> $</h4>


            <% end %>
          <%= link_to "Cancel", monster_path(@monster), class: "book-btn2" %>
        </div>

      </div>
    </div>

  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('select').on('change', function(event) {

        var start_date_year = $('#booking_start_date_1i').val();
        var start_date_month = $('#booking_start_date_2i').val();
        var start_date_day = $('#booking_start_date_3i').val();

        var end_date_year = $('#booking_end_date_1i').val();
        var end_date_month = $('#booking_end_date_2i').val();
        var end_date_day = $('#booking_end_date_3i').val();

        var start_date = new Date(start_date_year, start_date_month - 1, start_date_day);
        var end_date = new Date(end_date_year, end_date_month - 1, end_date_day);

        var calculated_price = (1 + Math.round((end_date - start_date) / 86400000)) * <%= @monster.price %>;

        $('#price').html("Total rent = "+calculated_price+" euros");
      });
    });
  <% end %>
<% end %>
